Source: betterclone
Section: misc
Priority: optional
Standards-Version: 4.1.3
Build-Depends: debhelper (>= 12)
Homepage: https://github.com/jriguera/betterclone
Maintainer: Jose Riguera <jriguera@gmail.com>
Vcs-Browser: https://github.com/jriguera/betterclone
Vcs-Git: https://github.com/jriguera/betterclone

Package: betterclone
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends}, btrfs-progs, rclone
Provides: betterclone
Description: Simple headless backup-restore management utility for btrfs with rclone
 This program creates snapshots based on filesystem tools and performs backups
 of those snapshots if needed by using rclone. It manages the list of (old)
 snapshots and a list of remote backups based on policies defined by some
 parameters in the configuration file placed in "<mountpoint-folder>/$BACKUP_CFG".
 The script does not allow to run more than one instance on each
 <mountpoint-folder> by creating a lock file "<mountpoint-folder>/$BACKUP_LOCK"
 with the current pid.

